<div class="card bg-primary"
  style="width: 100%;text-align: center;padding: 40px;border-top: -10px;border-color: white;">
  <div class="card-body">
    <h1 style="color: white;">Rock, Paper, Scissors, Lizard, Spock</h1>
  </div>
</div>

<div style="display: flex;align-items: center;justify-content: center;">
  <div class="card"
    style="width: 100%;text-align: center;padding: 20px;background-color: #5999ff;width:50%;border-radius:20px;margin-top: -30px;border-width: 4px;border-color: white;">
    <div class="card-body">
      <div>
        <h6>Rules:-
          <blockquote>
            "Scissors cuts Paper, Paper covers Rock, Rock crushes Lizard, Lizard poisons Spock, Spock smashes Scissors,
            Scissors decapitates Lizard, Lizard eats Paper, Paper disproves Spock, Spock vaporizes Rock, (and as it
            always has) Rock crushes Scissors."
          </blockquote>

          - Dr. Sheldon Lee Cooper, B.S., M.S., M.A., Ph.D., Sc.D.
        </h6>
      </div>
    </div>
  </div>
</div>

<div>
  <div style="display:flex;flex-wrap: wrap;text-align: center;padding: 35px;">
    <div style="flex:1;cursor: pointer;"><img id="1" src="assets/rock.svg" (click)="onIconClick($event)"
        style="width:200px;height:200px;" /></div>
    <div style="flex:1;cursor: pointer;"><img id="2" src="assets/paper.svg" (click)="onIconClick($event)"
        style="width:200px;height:200px;" /></div>
    <div style="flex:1;cursor: pointer;"><img id="3" src="assets/scissors.svg" (click)="onIconClick($event)"
        style="width:200px;height:200px;" /></div>
    <div style="flex:1;cursor: pointer;"><img id="4" src="assets/lizard.svg" (click)="onIconClick($event)"
        style="width:200px;height:200px;" /></div>
    <div style="flex:1;cursor: pointer;"><img id="5" src="assets/spock.svg" (click)="onIconClick($event)"
        style="width:200px;height:200px;" /></div>
  </div>
</div>
<div style="display: flex;align-items: center;justify-content: center;">
  <div class="card"
    style="width: 100%;text-align: center;padding: 20px;background-color: #5999ff;width:50%;border-radius:20px;border-width: 4px;border-color: white;">
    <div class="card-body">
      <div>
        <h6 id="resultMessage">Click any one icon above</h6>
        <h5>Score: {{playerScore}}/{{computerScore}}</h5>
        <button type="button" (click)="onPlayAgain()" class="btn btn-primary">Play Again</button>
      </div>
    </div>
  </div>
</div>